* {
    font-family: "Work Sans", sans-serif;
    font-size: 1.1rem;
    color: #e0e0e0;
}
body {
    margin: 0;
    background-color: #181818;
}

h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 2rem;
    color: #fafafa;
}

header {
    background-color: #232323;
    padding: 1rem;
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 500;
}

table {
    margin: 1rem;
    border-spacing: 0.5rem;
    background-color: #232323;
}

th, td {
    background-color: #232323;
}

table button {
    border: none;
    padding: .1rem;
    background-color: #232323;
    color: #fafafa;
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 1.5rem;
    }
}